<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- HTML Meta Tags -->
    <title>Global Bird Nest</title>
    <meta
      name="description"
      content="CV. Global Nest has been providing premium swiftlet bird's nest since 1993. Based in Yogyakarta, Indonesia, we export high-quality, FDA-certified bird's nest to the US, China, and beyond. With full control of our supply chain, we ensure superior quality and nutrition for global customers. Trusted by wholesalers in countries like Canada, Taiwan, Hong Kong, Singapore, Australia, and Malaysia."
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="https://globalbirdnest.com/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content=" Global Bird Nest " />
    <meta
      property="og:description"
      content="CV. Global Nest has been providing premium swiftlet bird's nest since 1993. Based in Yogyakarta, Indonesia, we export high-quality, FDA-certified bird's nest to the US, China, and beyond. With full control of our supply chain, we ensure superior quality and nutrition for global customers. Trusted by wholesalers in countries like Canada, Taiwan, Hong Kong, Singapore, Australia, and Malaysia."
    />
    <meta
      property="og:image"
      content="https://opengraph.b-cdn.net/production/images/1e913321-8997-4448-b2e8-4b703c0ed471.jpg?token=olB_a-P2aHIdmgf8Pfvy0zV64oEmg9QPCrPFWiD5sZM&height=802&width=1200&expires=33264210948"
    />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="globalbirdnest.com" />
    <meta property="twitter:url" content="https://globalbirdnest.com/" />
    <meta name="twitter:title" content=" Global Bird Nest " />
    <meta
      name="twitter:description"
      content="CV. Global Nest has been providing premium swiftlet bird's nest since 1993. Based in Yogyakarta, Indonesia, we export high-quality, FDA-certified bird's nest to the US, China, and beyond. With full control of our supply chain, we ensure superior quality and nutrition for global customers. Trusted by wholesalers in countries like Canada, Taiwan, Hong Kong, Singapore, Australia, and Malaysia."
    />
    <meta
      name="twitter:image"
      content="https://opengraph.b-cdn.net/production/images/1e913321-8997-4448-b2e8-4b703c0ed471.jpg?token=olB_a-P2aHIdmgf8Pfvy0zV64oEmg9QPCrPFWiD5sZM&height=802&width=1200&expires=33264210948"
    />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./css/marketing.css" />
    <script type="text/javascript">
      window.hasMobileFirstExtension = true;
    </script>
    <title>{{ block "title" . }} {{ .Site.Title }} {{ end }}</title>
  </head>
  <body>
    <style>
      .accent {
        color: #952628;
      }
      img.accent {
        color: #6e1516;
      }
      .accent-bg {
        background-color: #952628;
      }
      a.accent-bg:hover {
        background-color: #6e1516;
      }
      .uk-border-rounded {
        border-radius: 0.75em;
      }
    </style>
    {{ block "main" . }} {{ end }}
  </body>
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
  <script
    src="https://kit.fontawesome.com/73a39d1c35.js"
    crossorigin="anonymous"
  ></script>
</html>
