{{ define "main" }}
<!-- {{ partial "maintenance.html" . }} -->
<!-- NAVBAR -->
{{ partial "navbar.html" . }}
<!-- /NAVBAR -->
<!-- OFFCANVAS -->
{{ partial "offcanvas.html" }}
<!-- /OFFCANVAS -->
<!-- HERO -->
{{ partial "hero.html" . }}
<!-- /HERO -->
<!-- ABOUT -->
{{ partial "about.html" . }}
<!-- /ABOUT -->
<!-- MARKET -->
{{ partial "market.html" . }}
<!-- /MARKET -->
<!-- VALUES -->
{{ partial "values.html" . }}
<!-- /VALUES -->
<!-- PROCESS -->
{{ partial "process.html" . }}
<!-- /PROCESS -->
<!-- VIDEO -->
{{ partial "video.html" . }}
<!-- /VIDEO -->
<!-- PRODUCT -->
{{ partial "products.html" . }}
<!-- /PRODUCT -->
<!-- CONTACTS -->
{{ partial "contacts.html" . }}
<!-- /CONTACTS -->
<!-- FOOTER -->
{{ partial "footer.html" . }}
<!-- /FOOTER -->
{{ end }}
