<div
  class="uk-section uk-section-default uk-section-small uk-padding-remove-bottom"
>
  <div class="uk-container">
    <div id="about" class="uk-grid-collapse uk-flex-middle uk-grid" uk-grid="">
      <h2
        class="uk-margin uk-margin-small-top uk-h1 uk-text-bold uk-text-capitalize accent"
        data-uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 250;"
      >
        our <span class="accent">story</span>
      </h2>
      <div class="uk-column-1-2@s">
        <p data-uk-scrollspy="cls: uk-animation-slide-right-small; delay: 500;">
          CV. Global Nest has been providing high quality swiflet bird's nest
          since 1993. Located in Yogyakarta, Indonesia, the family business has
          expanded and we have changed our business model to ensure the quality
          and satisfaction of our customers around the world. From our bird's
          nest farm to our customers, we have the ability to control the supply
          chain therefore we are able to manage the quality and nutrition of our
          products.
        </p>
        <p data-uk-scrollspy="cls: uk-animation-slide-right-small; delay: 750;">
          In 1993, we shipped our first products to the United States and have
          been granted FDA Certification. In 1995, we began to export to China
          before expanding our wings to other countries. We always provide high
          quality products and reliable services to build long-term business
          with our customers or wholesalers. Today, we export to China, the
          United States, Canada, Taiwan, Hong Kong, Singapore, Australia and
          Malaysia.
        </p>
      </div>
    </div>
  </div>
</div>
