<div
  id="about"
  class="uk-grid-collapse uk-background-muted uk-child-width-1-1 uk-child-width-1-2@m uk-flex-middle uk-grid"
  uk-grid=""
>
  <div class="uk-padding-large">
    <h2
      class="uk-text-capitalize uk-text-bold uk-margin-remove"
      data-uk-scrollspy="cls: uk-animation-slide-right-small;"
    >
      Our <span class="accent">Story</span>
    </h2>

    <p data-uk-scrollspy="cls: uk-animation-slide-right-small; delay: 500;">
      CV. Global Nest has been providing high quality swiflet bird's nest since
      1993. Located in Yogyakarta, Indonesia, the family business has expanded
      and we have changed our business model to ensure the quality and
      satisfaction of our customers around the world. From our bird's nest farm
      to our customers, we have the ability to control the supply chain
      therefore we are able to manage the quality and nutrition of our products.
    </p>
    <p data-uk-scrollspy="cls: uk-animation-slide-right-small; delay: 750;">
      In 1993, we shipped our first products to the United States and have been
      granted FDA Certification. In 1995, we began to export to China before
      expanding our wings to other countries. We always provide high quality
      products and reliable services to build long-term business with our
      customers or wholesalers. Today, we export to China, the United States,
      Canada, Taiwan, Hong Kong, Singapore, Australia and Malaysia.
    </p>
  </div>
  <div
    class="uk-background-cover"
    style="
      background-image: url(./img/high-quality.jpg);
      min-height: calc(75vh);
      background-repeat: no-repeat;
      background-size: 851px 657px;
      background-position-x: calc(-110.95px);
    "
    uk-height-viewport=""
    uk-parallax="bgx: -250;"
  ></div>
</div>

<!-- <div class="uk-section uk-section-secondary">
  <div class="uk-container">
    <div class="" uk-grid>
      <div class="uk-width-3-5@s">
        <h1>Our Story</h1>
        <p>
          CV. Global Nest has been providing high quality swiflet bird's nest
          since 1993. Located in Yogyakarta, Indonesia, the family business has
          expanded and we have changed our business model to ensure the quality
          and satisfaction of our customers around the world. From our bird's
          nest farm to our customers, we have the ability to control the supply
          chain therefore we are able to manage the quality and nutrition of our
          products.
        </p>
        <p>
          In 1993, we shipped our first products to the United States and have
          been granted FDA Certification. In 1995, we began to export to China
          before expanding our wings to other countries. We always provide high
          quality products and reliable services to build long-term business
          with our customers or wholesalers. Today, we export to China, the
          United States, Canada, Taiwan, Hong Kong, Singapore, Australia and
          Malaysia.
        </p>
      </div>
      <div class="uk-width-2-5@s">
        <img src="./img/high-quality.jpg" alt="" />
      </div>
    </div>
  </div>
</div> -->
