<!-- <div
  id="contact"
  class="uk-section uk-section-large uk-section-muted uk-padding-remove-vertical"
>
  <div
    class="uk-grid-collapse uk-child-width-1-2@m uk-flex-middle uk-grid uk-grid-stack"
    uk-grid=""
  >
    <div class="uk-background-cover uk-first-column">
      <div class="mapouter">
        <div class="gmap_canvas">
          <iframe
            class="gmap_iframe"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=tugu jogja&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
          ></iframe
          ><a href="https://embed-googlemap.com">google map embed html</a>
        </div>
        <style>
          .mapouter {
            position: relative;
            text-align: right;
            width: 600px;
            height: 400px;
          }
          .gmap_canvas {
            overflow: hidden;
            background: none !important;
            width: 600px;
            height: 400px;
          }
          .gmap_iframe {
            width: 600px !important;
            height: 400px !important;
          }
        </style>
      </div>
    </div>
    <div class="uk-padding-large uk-text-left uk-grid-margin uk-first-column">
      <h2 class="uk-text-capitalize uk-text-bold">
        contact <span class="uk-text-primary">us</span>
      </h2>
      <h4
        class="uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
      >
        Headquarter :
      </h4>
      <p class="uk-margin-remove-top">
        <a
          class="uk-button uk-button-text uk-text-left uk-text-capitalize"
          href="https://goo.gl/maps/QaXcipjpSDz"
          target="_blank"
          rel="noopener"
        >
          <i class="la la-map-marker"></i>
          Jl. Bengawan Solo No. 37, Sumbersari, Jember. 68121.
        </a>
      </p>
      <h4
        class="uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
      >
        Email :
      </h4>
      <p class="uk-margin-remove-top">
        <a
          class="uk-button uk-button-text uk-text-lowercase"
          href="mailto:info@morfnpictures.com"
        >
          <i class="la la-envelope"></i>
          info@morfnpictures.com
        </a>
      </p>
      <h4
        class="uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
      >
        Phone :
      </h4>
      <p class="uk-margin-remove-top">
        <a
          class="uk-button uk-button-text uk-text-lowercase"
          href="tel:+6281246597782"
        >
          <i class="la la-phone"></i>
          +62-812-4659-7782
        </a>
      </p>
      <h4
        class="uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
      >
        Follow Us
      </h4>
      <div>
        <p class="uk-margin-remove-top" style="margin-left: -0.5rem">
          <a class="uk-icon-button uk-link-reset" href="#">
            <i
              class="la la-facebook"
              style="font-size: 2rem; color: #3b5998"
            ></i>
          </a>
          <a class="uk-icon-button uk-link-reset" href="#">
            <i
              class="la la-twitter"
              style="font-size: 2rem; color: #1da1f2"
            ></i>
          </a>
          <a class="uk-icon-button uk-link-reset" href="#">
            <i
              class="la la-instagram"
              style="font-size: 2rem; color: #833ab4"
            ></i>
          </a>
          <a class="uk-icon-button uk-link-reset" href="#">
            <i
              class="la la-youtube"
              style="font-size: 2rem; color: #ff0000"
            ></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</div> -->

<div class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s" uk-grid>
      <div>
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              class="gmap_iframe"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
              src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=tugu jogja&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
            ></iframe
            ><a href="https://embed-googlemap.com">google map embed html</a>
          </div>
          <style>
            .mapouter {
              position: relative;
              text-align: right;
              width: 600px;
              height: 400px;
            }
            .gmap_canvas {
              overflow: hidden;
              background: none !important;
              width: 600px;
              height: 400px;
            }
            .gmap_iframe {
              width: 600px !important;
              height: 400px !important;
            }
          </style>
        </div>
      </div>
      <div>
        <h1>hello world</h1>
      </div>
    </div>
  </div>
</div>
