<div class="uk-section uk-section-muted uk-section-small">
  <div class="uk-container">
    <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
      <div>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3953.1032660121036!2d110.3400434!3d-7.778874399999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a580d00cac06f%3A0xd3c159d6ffab7d41!2sGlobal%20Nest!5e0!3m2!1sid!2sid!4v1729607894679!5m2!1sid!2sid"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          uk-responsive
        ></iframe>
      </div>
      <div>
        <div class="uk-text-left">
          <h5
            class="accent uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
          >
            location :
          </h5>
          <p class="uk-margin-remove-top">
            <a
              class="uk-button uk-button-text uk-text-left uk-text-capitalize"
              href="https://maps.app.goo.gl/xKWjKz7AcP9N38797"
              target="_blank"
              rel="noopener"
            >
              <i class="fa-solid fa-map-marker"></i>
              Jl. Ngapak - Kentheng No.4,5, Area Sawah, Banyuraden, Kec.
              Gamping, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55293
            </a>
          </p>
          <h5
            class="accent uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
          >
            Email :
          </h5>
          <p class="uk-margin-remove-top">
            <a
              class="uk-button uk-button-text uk-text-lowercase"
              href="mailto:globalbnest@gmail.com"
            >
              <i class="fa-solid fa-envelope"></i>
              globalbnest@gmail.com
            </a>
          </p>
          <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
            <div>
              <h5
                class="accent uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
              >
                WeChat :
              </h5>
              <p>
                <img src="/img/wechat.png" alt="" />
              </p>
            </div>
            <div>
              <h5
                class="accent uk-text-capitalize uk-margin-remove-bottom uk-margin-small-top"
              >
                Whatsapp :
              </h5>
              <p>
                <img src="/img/wa.png" alt="" />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
