<div class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container uk-text-center@s">
    <h1 class="uk-text-bold uk-text-capitalize">Contact us</h1>
    <a
      href="https://wa.me/6287829363656?text=Hello%2C%20I%20would%20like%20to%20ask%20you%20about%20swiftlet%20nest"
      class="uk-button uk-button-default uk-border-rounded"
    >
      Chat us on Whatsapp
    </a>
  </div>
</div>
<hr class="uk-margin-remove" />
<footer class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container">
    <div class="uk-text-center@s">
      <span class="uk-text-small uk-text-muted">© 2024 Global Bird Nest </span>
    </div>
  </div>
</footer>
