<div class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container uk-text-center@s">
    <h1 class="uk-text-bold uk-text-capitalize">Let's collaborate with us</h1>
    <a href="#" class="uk-button uk-button-default uk-border-rounded">
      get quotation
    </a>
  </div>
</div>
<hr class="uk-margin-remove" />
<footer class="uk-section uk-section-small uk-section-secondary">
  <div class="uk-container">
    <div class="uk-text-center@s">
      <span class="uk-text-small uk-text-muted"
        >© 2024 Global Bird Nest - <a href="#">Created by Kun</a>
        <a
          href="https://instagram.com/kuunnnte"
          title="kuunnnte"
          target="_blank"
          data-uk-tooltip=""
          uk-icon="love"
        >
        </a>
      </span>
    </div>
  </div>
</footer>
