<section
  id="market"
  class="uk-section uk-section-default"
  uk-height-viewport="offset-bottom: 25"
>
  <div class="uk-container">
    <div class="uk-grid uk-child-width-1-2@l uk-grid-large uk-flex-middle">
      <div>
        <h6
          class="uk-text-capitalize uk-margin-remove"
          data-uk-scrollspy="cls: uk-animation-slide-right-small;"
        >
          our market
        </h6>
        <h2
          class="uk-margin uk-margin-small-top uk-h1 uk-text-bold uk-text-capitalize accent"
          data-uk-scrollspy="cls: uk-animation-slide-right-medium; delay: 250;"
        >
          we serve globally.
        </h2>
        <p
          class="subtitle-text"
          data-uk-scrollspy="cls: uk-animation-slide-right-small; delay: 500;"
        >
          Our market spans diverse regions, starting with Southeast Asia,
          followed by East Asia. Across the ocean, we reach into North America,
          and further south, we continue expanding in Oceania.
        </p>
      </div>
      <div
        data-uk-scrollspy="cls: uk-animation-fade;"
        class="uk-scrollspy-inview uk-margin-top"
      >
        <img
          src="./img/map.jpg"
          data-src="./img/map.jpg"
          data-uk-img="./img/map.jpg"
          alt="map of export"
        />
      </div>
    </div>

    <div
      class="uk-child-width-1-4@s uk-margin-large-top"
      uk-grid
      uk-scrollspy="target: > div#market-list; cls: uk-animation-fade; delay: 500;"
    >
      <div id="market-list" class="uk-card uk-border-rounded">
        <div
          class="uk-card-header accent-bg uk-light uk-text-center@s uk-border-rounded"
        >
          <h1 class="">20%</h1>
        </div>
        <div class="uk-card-body uk-card-default uk-border-rounded">
          <ul class="uk-list">
            <li class="uk-accent uk-text-bold">Southeast Asia</li>
            <li>Malaysia</li>
            <li>Singapore</li>
          </ul>
        </div>
      </div>
      <div id="market-list" class="uk-card uk-border-rounded">
        <div
          class="uk-card-header accent-bg uk-light uk-text-center@s uk-border-rounded"
        >
          <h1 class="">65%</h1>
        </div>
        <div class="uk-card-body uk-card-default uk-border-rounded">
          <ul class="uk-list">
            <li class="uk-accent uk-text-bold">East Asia</li>
            <li>China</li>
            <li>Taiwan</li>
            <li>Korea</li>
            <li>Hongkong</li>
          </ul>
        </div>
      </div>
      <div id="market-list" class="uk-card uk-border-rounded">
        <div
          class="uk-card-header accent-bg uk-light uk-text-center@s uk-border-rounded"
        >
          <h1 class="">12%</h1>
        </div>
        <div class="uk-card-body uk-card-default uk-border-rounded">
          <ul class="uk-list">
            <li class="uk-accent uk-text-bold">North America</li>
            <li>Canada</li>
            <li>USA</li>
          </ul>
        </div>
      </div>
      <div id="market-list" class="uk-card uk-border-rounded">
        <div
          class="uk-card-header accent-bg uk-light uk-text-center@s uk-border-rounded"
        >
          <h1 class="">3%</h1>
        </div>
        <div class="uk-card-body uk-card-default uk-border-rounded">
          <ul class="uk-list">
            <li class="uk-accent uk-text-bold">Oceania</li>
            <li>Australia</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
