<div id="menu-navbar" uk-offcanvas="overlay: true; flip: true; mode: reveal">
  <div class="uk-offcanvas-bar accent-bg uk-flex uk-flex-column">
    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li>
        <a class="uk-text-primary" href="#about"> About </a>
      </li>
      <li>
        <a class="uk-text-primary" href="#market"> Market </a>
      </li>
      <li>
        <a class="uk-text-primary" href="#values"> Values </a>
      </li>
      <li>
        <a class="uk-text-primary" href="#process"> Process </a>
      </li>
      <li>
        <a class="uk-text-primary" href="#products"> Products </a>
      </li>
      <li>
        <a
          class="uk-button uk-button-primary uk-border-rounded uk-margin-small-top accent"
          href="https://wa.me/6287829363656?text=Hello%2C%20I%20would%20like%20to%20ask%20you%20about%20swiftlet%20nest"
        >
          Chat us on Whatsapp
        </a>
      </li>
    </ul>
  </div>
</div>
