<section id="values" class="uk-section uk-section-secondary uk-light">
  <div class="uk-container">
    <h2
      class="uk-margin uk-margin-small-bottom uk-h1 uk-text-bold uk-text-capitalize uk-heading-line uk-text-center"
      data-uk-scrollspy="cls: uk-animation-slide-top-small; "
    >
      <span> our <span class="accent">values</span></span>
    </h2>

    <div
      class="uk-grid-match uk-grid-collapse uk-child-width-1-3@m uk-grid"
      uk-grid
      uk-scrollspy="target: > div; cls: uk-animation-fade; delay: 500;"
    >
      <div class="uk-first-column">
        <div class="uk-card uk-card-body">
          <h3
            class="uk-margin-small-top uk-text-bold uk-width-large uk-text-capitalize"
          >
            Quality
          </h3>
          <p class="uk-text-meta">
            We put high attention to provide high quality products to our
            customers. To ensure the quality of our products, we are checked and
            graded by Food Safety Institution and apply strict policies along
            the business chains.
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body">
          <i
            class="la la-video-camera"
            style="font-size: 5rem; color: #3a80c5"
          ></i>
          <h3
            class="uk-margin-small-top uk-text-bold uk-width-large uk-text-capitalize"
          >
            Naturality
          </h3>
          <p class="uk-text-meta">
            The nature has given health benefits through swiftlet bird's nest.
            Therefore, we always provide what the nature has given to us without
            adding any chemical that will reduce the benefits of the nature.
          </p>
        </div>
      </div>
      <div>
        <div class="uk-card uk-card-body">
          <i
            class="la la-code-fork"
            style="font-size: 5rem; color: #3a80c5"
          ></i>
          <h3
            class="uk-margin-small-top uk-text-bold uk-width-large uk-text-capitalize"
          >
            Sustainability
          </h3>
          <p class="uk-text-meta">
            We care about our planet and the environment that caryy us to apply
            sustainable values in every step in the business. Our process is
            environmentally friendly since we do not produce any excess
            materials that can pollute the environment. At our Swiftlet bird's
            nest farm, we are focusing on increase the Swiftlet bird population
            to create balance and sustainable food chain in the environment.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
