<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-cover-container uk-height-large uk-text-center">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/WEniLlHDZ5M?si=WG2ksDyrV0Mvvr8m"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        uk-video="autoplay: hover"
        uk-cover
      ></iframe>
    </div>
  </div>
</div>
