<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-cover-container uk-height-large uk-text-center">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/mLW35YMzELE?si=zQZguVtyATRLPabz"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
        uk-video="autoplay: hover"
        uk-cover
      ></iframe>

      <!-- <video
        src="https://www.youtube.com/watch?v=WEniLIHDZ5M"
        width="1800"
        height="1200"
        loop
        muted
        playsinline
        uk-video="autoplay: inview"
      ></video> -->
    </div>
  </div>
</div>
