<div class="uk-section uk-section-default uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-height-large uk-text-center container">
      <iframe
        src="https://www.youtube.com/embed/WEniLlHDZ5M?si=WG2ksDyrV0Mvvr8m"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    justify-content: center;
  }

  iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
  }
</style>
